.ui.tiny.image {
  width: 150px !important;
}
.logo {
  display: flex !important;
}
.hamburger {
  margin: .75rem 0 0 .5em !important;
  margin-left: auto !important;
  cursor: pointer;
  color: #5f5f5f;
}