
.logo {

  display: flex !important;

  &-link {
    width: 200px;
    &__image {
      width: 150px !important;
    }
  }
  
  &-hamburger {
    margin: .75rem 0 0 .5em !important;
    cursor: pointer;
    color: #5f5f5f;
  }
}

